<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StruktMainSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pakorn.somee.com/strukthelp/StruktMain.asmx"
                binding="basicHttpBinding" bindingConfiguration="StruktMainSoap"
                contract="StruktMain.StruktMainSoap" name="StruktMainSoap" />
        </client>
    </system.serviceModel>
</configuration>