<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StruktUserSoap" />
                <binding name="StruktMainSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/strukthelp/StruktMain.asmx"
                binding="basicHttpBinding" bindingConfiguration="StruktMainSoap"
                contract="StruktMain.StruktMainSoap" name="StruktMainSoap" />
            <endpoint address="http://localhost/strukthelp/StruktUser.asmx"
                binding="basicHttpBinding" bindingConfiguration="StruktUserSoap"
                contract="StruktWebservice.StruktUserSoap" name="StruktUserSoap" />
        </client>
    </system.serviceModel>
</configuration>
